-- SMOTE Technique to be used after Train Test Split to balance the dataset. https://www.geeksforgeeks.org/ml-handling-imbalanced-data-with-smote-and-near-miss-algorithm-in-python/

In [2]:
## Required Imports are done below:
import pandas as pd, numpy as np
import re
import os

### For installing missingno library, type this command in terminal
#pip install missingno

import missingno as msno

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, precision_score, recall_score
from imblearn.over_sampling import SMOTE

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_seq_items', None) #For print a long-sequence 
pd.set_option('display.max_colwidth', 500)

In [3]:
##Defining a function for coloring NaN and Non-NaN values
def color_style(value):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for value 
    greater than 5% NaNs, and green for safer values 
    and black for anything otherwise.
    """
    if value>0:
        color= 'red'
    elif value==0:
        color='green'
    else:
        color='black'
    return 'color: %s' % color

In [4]:
##Defining a function for missing value percentage dataframe: null_prcnt_df
def null_prcnt_df(data):
    df= data.copy()
    missing = pd.DataFrame(100*df.isnull().sum()/len(df.index))
    missing.rename(columns={0:'Null_Percentage'}, inplace=True)
    missing = pd.DataFrame(missing.Null_Percentage).sort_values(by='Null_Percentage',ascending=False).style.applymap(color_style)
    return missing

In [5]:
##Function to display content in 'bold' within print statement
# from IPython.display import Markdown, display
# def printbold(string):   
#     return display(Markdown(string))

In [6]:
# ##Define a function for other evaluation metrics:
# def other_metrics_logistic_model(confusion):
    
#     TP = confusion[1,1] # true positive 
#     TN = confusion[0,0] # true negatives
#     FP = confusion[0,1] # false positives
#     FN = confusion[1,0] # false negatives
    
#     sensitivity= round((TP) / (TP+FN),4) #sensitivity of our logistic regression model
#     specificity= round((TN) / (TN+FP),4) #specificity  of our logistic regression model   
#     FPR= round((FP) / (TN+FP),4)        #False Positive Rate - predicting churn when customer does not have churned
#     positive_pred_val= round((TP) / (TP+FP),4)  #Positive predictive value
#     negative_pred_val= round((TN) / (TN+ FN),4) #Negative predictive value
#     misclass_rate = round((FN+FP)/(TP+TN+FP+FN),4)  #Misclassification rate
    
#     metric_list= ['Sensitivity', 'Specificity', 'False Positive Rate','Positive Predictive Value','Negative Predictive Value', 'Misclassification Rate']
#     metric_val = [sensitivity, specificity, FPR, positive_pred_val, negative_pred_val, misclass_rate]
#     evaluation_metrics_df=pd.DataFrame({'Evaluation Metrics':metric_list, 'Value': metric_val})
#     evaluation_metrics_df.set_index('Evaluation Metrics', inplace= True)
#     return evaluation_metrics_df

In [7]:
# ##Defining a function to plot confusion matrix

# from sklearn import metrics
# from sklearn.metrics import confusion_matrix

# def plot_confusion_matrix(cm):
#     """
#     This function prints and plots the confusion matrix.
#     """
#     classes=['Not Churned','Churned']
#     cmap=plt.cm.Reds
#     plt.imshow(cm, interpolation='nearest', cmap=cmap)
#     plt.title('Confusion Matrix', fontsize=14)
#     plt.colorbar()
#     tick_marks = np.arange(len(classes))
#     plt.xticks(tick_marks, classes)
#     plt.yticks(tick_marks, classes, rotation=90)
#     thresh = cm.max() / 2.
#     for i in range (cm.shape[0]):
#         for j in range (cm.shape[1]):
#             plt.text(j, i, cm[i, j],horizontalalignment="center",
#                  color="white" if cm[i, j] > thresh else "black")
#     plt.tight_layout()
#     plt.ylabel('True label', fontsize= 10)
#     plt.xlabel('Predicted label', fontsize=10)


# def print_model_metrics(y_test,y_pred,model_name):
#     print(model_name+" Model Stats Scores Summary : ")
#     cp = confusion_matrix(y_test,y_pred)
#     plt.figure()
#     plot_confusion_matrix(cp)
#     plt.show()

In [8]:
data = pd.read_csv("train.csv")
unseen = pd.read_csv("test.csv")
sample = pd.read_csv("sample.csv")
data_dict = pd.read_csv("data_dictionary.csv")

print(data.shape)
print(unseen.shape)
print(sample.shape)
print(data_dict.shape)

(69999, 172)
(30000, 171)
(30000, 2)
(36, 2)

In [9]:
data_dict

,Acronyms,Description
0,CIRCLE_ID,Telecom circle area to which the customer belongs to
1,LOC,Local calls within same telecom circle
2,STD,STD calls outside the calling circle
3,IC,Incoming calls
4,OG,Outgoing calls
5,T2T,Operator T to T ie within same operator mobile to mobile
6,T2M,Operator T to other operator mobile
7,T2O,Operator T to other operator fixed line
8,T2F,Operator T to fixed lines of T
9,T2C,Operator T to its own call center
10,ARPU,Average revenue per user
11,MOU,Minutes of usage voice calls
12,AON,Age on network number of days the customer is using the operator T network
13,ONNET,All kind of calls within the same operator network
14,OFFNET,All kind of calls outside the operator T network
15,ROAM,Indicates that customer is in roaming zone during the call
16,SPL,Special calls
17,ISD,ISD calls
18,RECH,Recharge
19,NUM,Number
20,AMT,Amount in local currency
21,MAX,Maximum
22,DATA,Mobile internet
23,3G,G network
24,AV,Average
25,VOL,Mobile internet usage volume in MB
26,2G,G network
27,PCK,Prepaid service schemes called PACKS
28,NIGHT,Scheme to use during specific night hours only
29,MONTHLY,Service schemes with validity equivalent to a month
30,SACHET,Service schemes with validity smaller than a month
31,*.6,KPI for the month of June
32,*.7,KPI for the month of July
33,*.8,KPI for the month of August
34,FB_USER,Service scheme to avail services of Facebook and similar social networking sites
35,VBC,Volume based cost when no specific scheme is not purchased and paid as per usage

In [10]:
data.head(5)

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2f_mou_6,std_og_t2f_mou_7,std_og_t2f_mou_8,std_og_t2c_mou_6,std_og_t2c_mou_7,std_og_t2c_mou_8,std_og_mou_6,std_og_mou_7,std_og_mou_8,isd_og_mou_6,isd_og_mou_7,isd_og_mou_8,spl_og_mou_6,spl_og_mou_7,spl_og_mou_8,og_others_6,og_others_7,og_others_8,total_og_mou_6,total_og_mou_7,total_og_mou_8,loc_ic_t2t_mou_6,loc_ic_t2t_mou_7,loc_ic_t2t_mou_8,loc_ic_t2m_mou_6,loc_ic_t2m_mou_7,loc_ic_t2m_mou_8,loc_ic_t2f_mou_6,loc_ic_t2f_mou_7,loc_ic_t2f_mou_8,loc_ic_mou_6,loc_ic_mou_7,loc_ic_mou_8,std_ic_t2t_mou_6,std_ic_t2t_mou_7,std_ic_t2t_mou_8,std_ic_t2m_mou_6,std_ic_t2m_mou_7,std_ic_t2m_mou_8,std_ic_t2f_mou_6,std_ic_t2f_mou_7,std_ic_t2f_mou_8,std_ic_t2o_mou_6,std_ic_t2o_mou_7,std_ic_t2o_mou_8,std_ic_mou_6,std_ic_mou_7,std_ic_mou_8,total_ic_mou_6,total_ic_mou_7,total_ic_mou_8,spl_ic_mou_6,spl_ic_mou_7,spl_ic_mou_8,isd_ic_mou_6,isd_ic_mou_7,isd_ic_mou_8,ic_others_6,ic_others_7,ic_others_8,total_rech_num_6,total_rech_num_7,total_rech_num_8,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,last_day_rch_amt_6,last_day_rch_amt_7,last_day_rch_amt_8,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8,total_rech_data_6,total_rech_data_7,total_rech_data_8,max_rech_data_6,max_rech_data_7,max_rech_data_8,count_rech_2g_6,count_rech_2g_7,count_rech_2g_8,count_rech_3g_6,count_rech_3g_7,count_rech_3g_8,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,vol_2g_mb_6,vol_2g_mb_7,vol_2g_mb_8,vol_3g_mb_6,vol_3g_mb_7,vol_3g_mb_8,arpu_3g_6,arpu_3g_7,arpu_3g_8,arpu_2g_6,arpu_2g_7,arpu_2g_8,night_pck_user_6,night_pck_user_7,night_pck_user_8,monthly_2g_6,monthly_2g_7,monthly_2g_8,sachet_2g_6,sachet_2g_7,sachet_2g_8,monthly_3g_6,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,7.527,48.58,124.38,1.29,32.24,96.68,2.33,0.00,0.0,0.0,0.00,0.0,0.00,2.23,0.00,0.28,5.29,16.04,2.33,0.00,0.00,0.00,0.00,0.00,0.00,7.53,16.04,2.61,46.34,124.38,1.01,18.75,80.61,0.0,0.00,0.0,0.0,0.0,0.0,0.0,65.09,204.99,1.01,0.0,0.0,0.0,8.20,0.63,0.00,0.38,0.0,0.0,81.21,221.68,3.63,2.43,3.68,7.79,0.83,21.08,16.91,0.00,0.00,0.00,3.26,24.76,24.71,0.00,7.61,0.21,7.46,19.96,14.96,0.0,0.0,0.0,0.0,0.0,0.0,7.46,27.58,15.18,11.84,53.04,40.56,0.0,0.0,0.66,0.0,0.0,0.0,1.11,0.69,0.00,3,2,2,77,65,10,65,65,10,6/22/2014,7/10/2014,8/24/2014,65,65,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.00,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,42.953,0.00,0.00,0.00,0.00,25.99,30.89,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22.01,29.79,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,30.73,31.66,0.00,0.0,0.0,0.00,30.73,31.66,1.68,19.09,10.53,1.41,18.68,11.09,0.35,1.66,3.40,3.44,39.44,25.03,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,3.44,39.44,25.04,0.0,0.0,0.01,0.0,0.0,0.0,0.00,0.00,0.00,3,4,5,0,145,50,0,145,50,6/12/2014,7/10/2014,8/26/2014,0,0,0,NaN,7/8/2014,NaN,NaN,1.0,NaN,NaN,145.0,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,145.0,NaN,0.0,352.91,0.00,0.0,3.96,0.0,NaN,122.07,NaN,NaN,122.08,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,1,0,0,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,0.000,0.53,15.93,0.00,53.99,82.05,0.00,0.00,0.0,0.0,0.00,0.0,0.00,0.53,12.98,0.00,24.11,0.00,0.00,0.00,0.00,0.00,2.14,0.00,0.00,24.64,12.98,0.00,0.00,2.94,0.00,28.94,82.05,0.0,0.00,0.0,0.0,0.0,0.0,0.0,28.94,84.99,0.00,0.0,0.0,0.0,2.89,1.38,0.00,0.00,0.0,0.0,56.49,99.36,0.00,4.51,6.16,6.49,89.86,25.18,23.51,0.00,0.00,0.00,94.38,31.34,30.01,11.69,0.00,0.00,18.21,2.48,6.38,0.0,0.0,0.0,0.0,0.0,0.0,29.91,2.48,6.38,124.29,33.83,36.64,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.25,2,4,2,70,120,0,70,70,0,6/11/2014,7/22/2014,8/24/2014,70,50,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.00,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,111.095,7.26,16.01,0.00,68.76,78.48,50.23,0.00,0.0,0.0,0.00,0.0,1.63,6.99,3.94,0.00,37.91,44.89,23.63,0.00,0.00,0.00,0.00,0.00,8.03,44.91,48.84,23.63,0.26,12.06,0.00,15.33,25.93,4.6,0.56,0.0,0.0,0.0,0.0,0.0,16.16,37.99,4.60,0.0,0.0,0.0,14.95,9.13,25.61,0.00,0.0,0.0,76.03,95.98,53.84,24.98,4.84,23.88,53.99,44.23,57.14,7.23,0.81,0.00,86.21,49.89,81.03,0.00,0.00,0.00,8.89,0.28,2.81,0.0,0.0,0.0,0.0,0.0,0.0,8.89,0.28,2.81,95.11,50.18,83.84,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,2,4,3,160,240,130,110,110,50,6/15/2014,7/21/2014,8/25/2014,110,110,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.00,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,101.565,21.28,4.83,6.13,56.99,38.11,9.63,53.64,0.0,0.0,15.73,0.0,0.00,10.16,4.83,6.13,36.74,19.88,4.61,11.99,1.23,5.01,0.00,9.85,0.00,58.91,25.94,15.76,0.00,0.00,0.00,4.35,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,4.35,0.00,0.00,0.0,0.0,0.0,0.00,17.00,0.00,0.00,0.0,0.0,63.26,42.94,15.76,5.44,1.39,2.66,10.58,4.33,19.49,5.51,3.63,6.14,21.54,9.36,28.31,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,21.54,9.36,28.31,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,13,10,8,290,136,122,50,41,30,6/25/2014,7/26/2014,8/30/2014,25,10,30,6/25/2014,7/23/2014,8/20/2014,7.0,7.0,6.0,25.0,41.0,25.0,7.0,6.0,6.0,0.0,1.0,0.0,175.0,191.0,142.0,390.8,308.89,213.47,0.0,0.00,0.0,0.0,35.00,0.0,0.0,35.12,0.0,0.0,0.0,0.0,0,0,0,7,6,6,0,0,0,0,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [11]:
data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 172 columns):
 #    Column                    Non-Null Count  Dtype
---   ------                    --------------  -----
 0    id                        69999 non-null  int64
 1    circle_id                 69999 non-null  int64
 2    loc_og_t2o_mou            69297 non-null  float64
 3    std_og_t2o_mou            69297 non-null  float64
 4    loc_ic_t2o_mou            69297 non-null  float64
 5    last_date_of_month_6      69999 non-null  object
 6    last_date_of_month_7      69600 non-null  object
 7    last_date_of_month_8      69266 non-null  object
 8    arpu_6                    69999 non-null  float64
 9    arpu_7                    69999 non-null  float64
 10   arpu_8                    69999 non-null  float64
 11   onnet_mou_6               67231 non-null  float64
 12   onnet_mou_7               67312 non-null  float64
 13   onnet_mou_8               66296 non-null  float64
 14   offnet_mou_6              67231 non-null  float64
 15   offnet_mou_7              67312 non-null  float64
 16   offnet_mou_8              66296 non-null  float64
 17   roam_ic_mou_6             67231 non-null  float64
 18   roam_ic_mou_7             67312 non-null  float64
 19   roam_ic_mou_8             66296 non-null  float64
 20   roam_og_mou_6             67231 non-null  float64
 21   roam_og_mou_7             67312 non-null  float64
 22   roam_og_mou_8             66296 non-null  float64
 23   loc_og_t2t_mou_6          67231 non-null  float64
 24   loc_og_t2t_mou_7          67312 non-null  float64
 25   loc_og_t2t_mou_8          66296 non-null  float64
 26   loc_og_t2m_mou_6          67231 non-null  float64
 27   loc_og_t2m_mou_7          67312 non-null  float64
 28   loc_og_t2m_mou_8          66296 non-null  float64
 29   loc_og_t2f_mou_6          67231 non-null  float64
 30   loc_og_t2f_mou_7          67312 non-null  float64
 31   loc_og_t2f_mou_8          66296 non-null  float64
 32   loc_og_t2c_mou_6          67231 non-null  float64
 33   loc_og_t2c_mou_7          67312 non-null  float64
 34   loc_og_t2c_mou_8          66296 non-null  float64
 35   loc_og_mou_6              67231 non-null  float64
 36   loc_og_mou_7              67312 non-null  float64
 37   loc_og_mou_8              66296 non-null  float64
 38   std_og_t2t_mou_6          67231 non-null  float64
 39   std_og_t2t_mou_7          67312 non-null  float64
 40   std_og_t2t_mou_8          66296 non-null  float64
 41   std_og_t2m_mou_6          67231 non-null  float64
 42   std_og_t2m_mou_7          67312 non-null  float64
 43   std_og_t2m_mou_8          66296 non-null  float64
 44   std_og_t2f_mou_6          67231 non-null  float64
 45   std_og_t2f_mou_7          67312 non-null  float64
 46   std_og_t2f_mou_8          66296 non-null  float64
 47   std_og_t2c_mou_6          67231 non-null  float64
 48   std_og_t2c_mou_7          67312 non-null  float64
 49   std_og_t2c_mou_8          66296 non-null  float64
 50   std_og_mou_6              67231 non-null  float64
 51   std_og_mou_7              67312 non-null  float64
 52   std_og_mou_8              66296 non-null  float64
 53   isd_og_mou_6              67231 non-null  float64
 54   isd_og_mou_7              67312 non-null  float64
 55   isd_og_mou_8              66296 non-null  float64
 56   spl_og_mou_6              67231 non-null  float64
 57   spl_og_mou_7              67312 non-null  float64
 58   spl_og_mou_8              66296 non-null  float64
 59   og_others_6               67231 non-null  float64
 60   og_others_7               67312 non-null  float64
 61   og_others_8               66296 non-null  float64
 62   total_og_mou_6            69999 non-null  float64
 63   total_og_mou_7            69999 non-null  float64
 64   total_og_mou_8            69999 non-null  float64
 65   loc_ic_t2t_mou_6          67231 non-null  float64
 66   loc_ic_t2t_mou_7          67312 non-null  float64
 67   loc_ic_t2t_mou_8          66296 non-null  float64
 68   loc_ic_t2m_mou_6          67231 non-null  float64
 69   loc_ic_t2m_mou_7          67312 non-null  float64
 70   loc_ic_t2m_mou_8          66296 non-null  float64
 71   loc_ic_t2f_mou_6          67231 non-null  float64
 72   loc_ic_t2f_mou_7          67312 non-null  float64
 73   loc_ic_t2f_mou_8          66296 non-null  float64
 74   loc_ic_mou_6              67231 non-null  float64
 75   loc_ic_mou_7              67312 non-null  float64
 76   loc_ic_mou_8              66296 non-null  float64
 77   std_ic_t2t_mou_6          67231 non-null  float64
 78   std_ic_t2t_mou_7          67312 non-null  float64
 79   std_ic_t2t_mou_8          66296 non-null  float64
 80   std_ic_t2m_mou_6          67231 non-null  float64
 81   std_ic_t2m_mou_7          67312 non-null  float64
 82   std_ic_t2m_mou_8          66296 non-null  float64
 83   std_ic_t2f_mou_6          67231 non-null  float64
 84   std_ic_t2f_mou_7          67312 non-null  float64
 85   std_ic_t2f_mou_8          66296 non-null  float64
 86   std_ic_t2o_mou_6          67231 non-null  float64
 87   std_ic_t2o_mou_7          67312 non-null  float64
 88   std_ic_t2o_mou_8          66296 non-null  float64
 89   std_ic_mou_6              67231 non-null  float64
 90   std_ic_mou_7              67312 non-null  float64
 91   std_ic_mou_8              66296 non-null  float64
 92   total_ic_mou_6            69999 non-null  float64
 93   total_ic_mou_7            69999 non-null  float64
 94   total_ic_mou_8            69999 non-null  float64
 95   spl_ic_mou_6              67231 non-null  float64
 96   spl_ic_mou_7              67312 non-null  float64
 97   spl_ic_mou_8              66296 non-null  float64
 98   isd_ic_mou_6              67231 non-null  float64
 99   isd_ic_mou_7              67312 non-null  float64
 100  isd_ic_mou_8              66296 non-null  float64
 101  ic_others_6               67231 non-null  float64
 102  ic_others_7               67312 non-null  float64
 103  ic_others_8               66296 non-null  float64
 104  total_rech_num_6          69999 non-null  int64
 105  total_rech_num_7          69999 non-null  int64
 106  total_rech_num_8          69999 non-null  int64
 107  total_rech_amt_6          69999 non-null  int64
 108  total_rech_amt_7          69999 non-null  int64
 109  total_rech_amt_8          69999 non-null  int64
 110  max_rech_amt_6            69999 non-null  int64
 111  max_rech_amt_7            69999 non-null  int64
 112  max_rech_amt_8            69999 non-null  int64
 113  date_of_last_rech_6       68898 non-null  object
 114  date_of_last_rech_7       68765 non-null  object
 115  date_of_last_rech_8       67538 non-null  object
 116  last_day_rch_amt_6        69999 non-null  int64
 117  last_day_rch_amt_7        69999 non-null  int64
 118  last_day_rch_amt_8        69999 non-null  int64
 119  date_of_last_rech_data_6  17568 non-null  object
 120  date_of_last_rech_data_7  17865 non-null  object
 121  date_of_last_rech_data_8  18417 non-null  object
 122  total_rech_data_6         17568 non-null  float64
 123  total_rech_data_7         17865 non-null  float64
 124  total_rech_data_8         18417 non-null  float64
 125  max_rech_data_6           17568 non-null  float64
 126  max_rech_data_7           17865 non-null  float64
 127  max_rech_data_8           18417 non-null  float64
 128  count_rech_2g_6           17568 non-null  float64
 129  count_rech_2g_7           17865 non-null  float64
 130  count_rech_2g_8           18417 non-null  float64
 131  count_rech_3g_6           17568 non-null  float64
 132  count_rech_3g_7           17865 non-null  float64
 133  count_rech_3g_8           18417 non-null  float64
 134  av_rech_amt_data_6        17568 non-null  float64
 135  av_rech_amt_data_7        17865 non-null  float64
 136  av_rech_amt_data_8        18417 non-null  float64
 137  vol_2g_mb_6               69999 non-null  float64
 138  vol_2g_mb_7               69999 non-null  float64
 139  vol_2g_mb_8               69999 non-null  float64
 140  vol_3g_mb_6               69999 non-null  float64
 141  vol_3g_mb_7               69999 non-null  float64
 142  vol_3g_mb_8               69999 non-null  float64
 143  arpu_3g_6                 17568 non-null  float64
 144  arpu_3g_7                 17865 non-null  float64
 145  arpu_3g_8                 18417 non-null  float64
 146  arpu_2g_6                 17568 non-null  float64
 147  arpu_2g_7                 17865 non-null  float64
 148  arpu_2g_8                 18417 non-null  float64
 149  night_pck_user_6          17568 non-null  float64
 150  night_pck_user_7          17865 non-null  float64
 151  night_pck_user_8          18417 non-null  float64
 152  monthly_2g_6              69999 non-null  int64
 153  monthly_2g_7              69999 non-null  int64
 154  monthly_2g_8              69999 non-null  int64
 155  sachet_2g_6               69999 non-null  int64
 156  sachet_2g_7               69999 non-null  int64
 157  sachet_2g_8               69999 non-null  int64
 158  monthly_3g_6              69999 non-null  int64
 159  monthly_3g_7              69999 non-null  int64
 160  monthly_3g_8              69999 non-null  int64
 161  sachet_3g_6               69999 non-null  int64
 162  sachet_3g_7               69999 non-null  int64
 163  sachet_3g_8               69999 non-null  int64
 164  fb_user_6                 17568 non-null  float64
 165  fb_user_7                 17865 non-null  float64
 166  fb_user_8                 18417 non-null  float64
 167  aon                       69999 non-null  int64
 168  aug_vbc_3g                69999 non-null  float64
 169  jul_vbc_3g                69999 non-null  float64
 170  jun_vbc_3g                69999 non-null  float64
 171  churn_probability         69999 non-null  int64
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB

In [12]:
data = data.drop_duplicates()

In [13]:
rech_cols = [i for i in data.columns if re.search("rech_amt|rech_data",i)]
rech_cols

['total_rech_amt_6',
 'total_rech_amt_7',
 'total_rech_amt_8',
 'max_rech_amt_6',
 'max_rech_amt_7',
 'max_rech_amt_8',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8',
 'total_rech_data_6',
 'total_rech_data_7',
 'total_rech_data_8',
 'max_rech_data_6',
 'max_rech_data_7',
 'max_rech_data_8',
 'av_rech_amt_data_6',
 'av_rech_amt_data_7',
 'av_rech_amt_data_8']

In [48]:
# Checking for null values in the columns related to recharge:
recharge_df = pd.DataFrame(data[rech_cols])
null_prcnt_df(recharge_df)

In [50]:
recharge_df.describe()

,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,total_rech_data_6,total_rech_data_7,total_rech_data_8,max_rech_data_6,max_rech_data_7,max_rech_data_8,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8
count,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,17568.000000,17865.000000,18417.000000,17568.000000,17865.000000,18417.000000,17568.000000,17865.000000,18417.000000
mean,328.139788,322.376363,323.846355,104.569265,104.137573,107.540351,2.467612,2.679989,2.652441,126.500000,126.402071,125.374925,192.831096,201.455940,196.815792
std,404.211068,411.070120,426.181405,121.407701,120.782543,124.396750,2.794610,3.073472,3.101265,109.352573,109.459266,109.648799,190.623115,198.346141,192.280532
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,110.000000,100.000000,90.000000,30.000000,30.000000,30.000000,1.000000,1.000000,1.000000,25.000000,25.000000,25.000000,82.000000,92.000000,84.000000
50%,229.000000,220.000000,225.000000,110.000000,110.000000,98.000000,1.000000,2.000000,1.000000,145.000000,145.000000,145.000000,154.000000,154.000000,154.000000
75%,438.000000,430.000000,436.000000,120.000000,128.000000,144.000000,3.000000,3.000000,3.000000,177.000000,177.000000,179.000000,252.000000,252.000000,252.000000
max,35190.000000,40335.000000,45320.000000,4010.000000,3299.000000,4449.000000,61.000000,54.000000,60.000000,1555.000000,1555.000000,1555.000000,5920.000000,4365.000000,4076.000000

In [52]:
# Columns having minimum value as 1, can be imputed to 0, indicating no recharge was done. 
rech_cols_min = ["total_rech_data_6", "total_rech_data_7", "total_rech_data_8",
        "max_rech_data_6", "max_rech_data_7", "max_rech_data_8",
        "av_rech_amt_data_6", "av_rech_amt_data_7", "av_rech_amt_data_8"]

In [55]:
imp = SimpleImputer(strategy='constant', fill_value=0)
data[rech_cols_min] = imp.fit_transform(data[rech_cols_min])

In [14]:
# Removing columns that show constant variance (i.e. all values are constant or 0)
# def remove_SingleUniqueValue_column(df):
#     df_newsingle = df.copy()
#     uniq_svcol = df_newsingle.nunique() ==1
#     list_uniq_svcol = list(uniq_svcol[uniq_svcol.values== True].index)
#     df_newsingle.drop(list_uniq_svcol, axis=1, inplace=True)
#     print('Columns that are dropped are:\n{0}'.format(list_uniq_svcol))
#     print('\nNumber of columns dropped:\n{0}'.format(len(list_uniq_svcol)))
#     return df_newsingle

# data = remove_SingleUniqueValue_column(data)

In [15]:
# X = data.iloc[:,:-1]
# y = data.iloc[:,-1]

# print("========================================================================")
# print("X Dataset: ", X.shape) 
# print("y Dataset: ", y.shape) 
# print("========================================================================")

In [16]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# print("========================================================================")
# print("X Train Dataset: ", X_train.shape) 
# print("X Test Dataset: ", X_test.shape) 
# print("y Train Dataset: ", y_train.shape) 
# print("y Test Dataset: ", y_test.shape) 
# print("========================================================================")

In [17]:
# print("Before OverSampling, counts of label '1': {}".format(sum(y_train == 1)))
# print("Before OverSampling, counts of label '0': {} \n".format(sum(y_train == 0)))

# smote = SMOTE(random_state = 42)
# X_train_res, y_train_res = smote.fit_resample(X_train, y_train.ravel())

# print('After OverSampling, the shape of train_X: {}'.format(X_train_res.shape))
# print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape))

# print("After OverSampling, counts of label '1': {}".format(sum(y_train_res == 1)))
# print("After OverSampling, counts of label '0': {}".format(sum(y_train_res == 0)))

In [18]:
# columns = data.columns

# ids = ["id","circle_id"]
# total_amounts = [i for i in columns if re.search("total.+amt", i)]
# total_outgoing_minutes = [i for i in columns if re.search("total.+og.+mou",i)]
# total_incoming_minutes = [i for i in columns if re.search("total.+ic.+mou",i)]
# local_outgoing_minutes = [i for i in columns if re.search("loc.+og_mou",i)]
# local_incoming_minutes = [i for i in columns if re.search("loc.+ic_mou",i)]
# offnetwork_minutes = [i for i in columns if re.search("offnet",i)]
# onnetwork_minutes = [i for i in columns if re.search("onnet",i)]
# average_revenue = [i for i in columns if re.search("arpu",i)]
# volume_3g = [i for i in columns if re.search("vol.+3g",i)]
# volume_2g = [i for i in columns if re.search("vol.+2g",i)]
# age_on_network = [i for i in columns if re.search("aon",i)]
# dates = [i for i in columns if (re.search("date.+of.+last.+rech",i))]

# variables = [*ids, *total_amounts, *total_outgoing_minutes, *total_incoming_minutes,
#              *local_outgoing_minutes, *local_incoming_minutes, *offnetwork_minutes, 
#              *onnetwork_minutes, *average_revenue, *volume_3g, *volume_2g,
#              *age_on_network, *dates, "churn_probability"]

# data_cleaned = data[variables].set_index("id")
# data_cleaned.shape